@import "bootstrap.css"; 



/* Additional css for text */
.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.font-weight-light {
  font-weight: 300 !important;
}

.font-weight-normal {
  font-weight: 400 !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}


/* End of Additional css for text */

.carousel-inner img{
	width: 100%; 
}

.navbar-fixed{
    position: fixed;
    z-index: 1;
    width: 100%;    
}

.navbar-shadow{
	box-shadow: -2px 3px 20px 0px #00000052;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.main-logo{
		width: 2.2em;	
	}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.main-logo{
		width: 3em;	
	}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.main-logo{
		width: 3em;	
	}
} 



.box{
  position:relative;
}

.img-title{
  position: absolute;
  color: #fff;
  text-align: center;
  left: 0;
  right: 0;
  top: 10%;
  letter-spacing: 3px;
}

.img-title p{
	padding: 1em;
}

.distinct{
	margin-bottom: 2em;
}

.text-subtle{
	color: #dee2e6;
}

.text-justified{
	padding: 2em; 
	line-height: 2em;
}


.col-md-12 svg{
	margin: 0.5%;
}


.blank{
	min-height: 0;
}

.social-links{
	 margin-right: 10px;
}

.social-links li{
	 margin-right: 5px;
}


.social-links a{
	text-decoration: none;
	color: inherit;
}

.shadow-div{
    box-shadow: 0px 0px 20px 0px #00000059;
    padding: .5em;

}



.nav-links {
  display: block;
  padding: 0.5rem 1rem;
  color: initial;
}

.nav-links:hover, .nav-links:focus {
  text-decoration: none;
}

.nav-links.disabled {
  color: #6c757d;
}


.spacing{
	padding: 2em; 
}

/* Gallery CSS */

.container .gallery a img {
  float: left;
  width: 20%;
  height: auto;
  border: 0.5em solid #fff;
  -webkit-transition: -webkit-transform .15s ease;
  -moz-transition: -moz-transform .15s ease;
  -o-transition: -o-transform .15s ease;
  -ms-transition: -ms-transform .15s ease;
  transition: transform .15s ease;
  position: relative;
}


.container .gallery a:hover img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 5;
  box-shadow: 0px 0px 8px 0px #00000038;
}

.container .gallery a.big img {
  width: 33%;
}

.clear {
  clear: both;
  float: none;
  width: 100%;
}

.director-link img{
	width: 100%;
}


@media only screen and (max-width: 600px) {
	.container .gallery a.big img {
  		width: 100%;
	}



	.director-link img{
		width:50%;
	}
}


/* Home page css */

.directors{
  width: 100%; 
}

.directors img{
  width: 100%; 
  margin: 0 auto;
}


#servicesDiv .col-md-4{
  width: 100%;
}

#servicesDiv hr, #missionDiv hr{
  width: 50%; 
  background: #DDD; 
  margin-bottom: 5em;
}

/* End of Home page css */


/* Footer CSS */

.footerLinks a{
  text-decoration: none;
  color: inherit;
}

.footerLinks a:hover{
  text-decoration: none;
  color: white;
}

/* End of Footer CSS */ 





